@page "/Main"
@using System.Text.Json
@using Newtonsoft.Json
@attribute [Authorize]
@inject AuthenticationStateProvider authProvider
@inject ISecretData secretData
@inject IUserData userData
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage
@inject ILogger<Main> logger
@rendermode InteractiveServer

<h1 class="page-heading text-uppercase mb-4">Secrets</h1>

<div class="">
    <button @onclick="LoadCreatePage" class="btn btn-primary">Create</button>
</div>

<div class="row">
    <div class="col-md-2">
    @if (IsTaskRunning > 0)
    {
        <span>Searching...</span>
    }
    else
    {
        if (secretCount > 10)
        {
            <span>>10</span>
        }
        else
        {
            @secrets?.Count 
        }
    }
    Secrets</div>
    <div class="col-md-10 search-box">
        <input class="form-control rounded-control"  placeholder="Search..."
            aria-label="Search box" 
            @bind="searchText" />
        <button class="btn btn-primary" @onclick="OnSearchInput">
            @if (IsTaskRunning > 0)
            {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            }
            Search
        </button>
    </div>
</div>

<div>
    <div>
        @if (secrets?.Count > 0)
        {
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Site</th>
                        <th>Name</th>
                        <th>Memo</th>
                    </tr>
                </thead>
                <tbody>
                    @* <Virtualize Items="@secrets" Context="s" OverscanCount="10"> *@
                        @foreach (var s in secrets)
                        {
                            <tr class="@ShowDeleted(s)" @onclick="(() => OpenDetails(s.Uid.ToString()))">
                                <td>@s.Site</td>
                                <td>@s.User</td>
                            <td>@s.Memo1Line</td>
                            </tr>
                        }
                    @* </Virtualize> *@
                </tbody>
            </table>

        }
    </div>
</div>

@code {
    private int IsTaskRunning;
    private UserModel loggedInUser;
    private List<IdItem> secrets;
    private string searchText = "";
    private int secretCount;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authProvider.GetAuthenticationStateAsync();
        string objectId = authState.User.Claims.FirstOrDefault(c => c.Type.EndsWith("identifier"))?.Value;

        if (!string.IsNullOrWhiteSpace(objectId))
        {
            loggedInUser = await userData.GetUserFromAuthentication(objectId) ?? new();
            string name = authState.User.Claims.FirstOrDefault(c => c.Type.EndsWith("/name"))?.Value;

            string securityStamp = authState.User.Claims.FirstOrDefault(c => c.Type.EndsWith("SecurityStamp"))?.Value;

            bool isDirty = false;
            bool isNew = false;
            if (!objectId.Equals(loggedInUser.Id))
            {
                isDirty = true;
                isNew = true;
                loggedInUser.Id = objectId;
            }
            if (!name.Equals(loggedInUser.Name))
            {
                isDirty = true;
                loggedInUser.Name = name;
            }

            if (securityStamp != loggedInUser.SecurityStamp)
            {
                isDirty = true;
                loggedInUser.SetSecurityStamp(securityStamp);
            }

            try
            {

                if (isDirty)
                {
                    if (isNew)
                        await userData.CreateUserAsync(loggedInUser);
                    else
                        await userData.UpdateUser(loggedInUser);
                }
            }
            catch (Exception ex)
            {
                logger.LogError(ex.ToString());
                navManager.NavigateTo("Account/Logout");
            }
            //secrets = await secretData.GetUserSecrets(loggedInUser.Id);
        }
        else
            navManager.NavigateTo("Account/Login");

    }

    private void LoadCreatePage()
    {
        if (loggedInUser is not null)
            navManager.NavigateTo("/Create");
        else
            navManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && loggedInUser != null)
        {
            string searchInput = await LoadFilterState();
            await FilterSecrets(searchInput);
            StateHasChanged();
        }
    }

    private async Task<string> LoadFilterState()
    {
        var stringResults = await sessionStorage.GetAsync<string>(nameof(searchText));
        searchText = stringResults.Success ? stringResults.Value : "";
        return searchText;
    }

    private async Task SaveFilterState(string searchInput)
    {
        await sessionStorage.SetAsync(nameof(searchText), searchInput);
    }

    private async Task FilterSecrets(string? searchInput)
    {
        try
        {
            IsTaskRunning ++;
            if (!string.IsNullOrWhiteSpace(searchInput))
            {
                string[] searchTerms = searchInput.Split(' ', StringSplitOptions.RemoveEmptyEntries);
                var secretPayloads = await secretData.GetUserSecretsAsync(loggedInUser);

                secretPayloads = secretPayloads.Where(
                    s => searchTerms.All(val => s.Payload.Contains(val, StringComparison.InvariantCultureIgnoreCase))
                ).Take(11).ToList();
                secrets = new List<IdItem> { };
                secretCount = secretPayloads.Count;
                //foreach (var payload in secretPayloads)
                for (int i = 0; i < secretCount; i++)
                {
                    if (i >= 10)
                    {
                        break;
                    }
                    var payload = secretPayloads[i];
                    var secretDetail = JsonConvert.DeserializeObject<IdItem>(payload.Payload);
                    secretDetail.Uid = payload.Id;
                    secretDetail.Deleted = payload.Deleted;
                    secrets.Add(secretDetail);
                }

            }
            await SaveFilterState(searchInput);

        }
        finally
        {
            IsTaskRunning --;
        }
    }

    private async Task OnSearchInput()
    {
        await FilterSecrets(searchText);
    }

    private void OpenDetails(string secretId)
    {
        navManager.NavigateTo($"/Create/{secretId}");
    }

    private string ShowDeleted(IdItem s)
    {
        if (s.Deleted)
            return "table-danger text-decoration-line-through";
        else
            return "";

    }
}
